<ul>
    {% for language in site.data.snippets.languages %}
        {% unless language[1].slug == page.language %}
            <li>
                <a href="{{ site.baseurl }}/{{ language[1].slug }}/{{ page.language_reference }}">{{ language[1].value }}</a>
            </li>
        {% endunless %}
        
        <!-- <li {% if language[1].slug == page.language %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}/{{ language[1].slug }}/{{ page.language_reference }}">{{ language[1].value }}</a>
        </li>  -->
       
    {% endfor %}
</ul>
  